<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YUNToolsKit-Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YUNToolsKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>target.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C242DB651D06DAF5007FCF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24E901D1CD341F800A09F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24E90271CD341F800A09F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29713E51CE33367004DC77E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
